
// タイトルやボーダー、フッターに使用される色
$deepGray: #6B8597;
// 装飾の色
$green: #67CCAD;

//テーマカラーの青
$themeblue: #0097FF; 

//背景のライトブルー
$bgLightBlue: #ECF4F9; 



// アイコンのカラー変数
$newIconColor: #F90376; //アイコンの色
$categoryColorMan: #A0C0F3; 
$categoryColorWoman: #F97DBB; 
$categoryColorNomal: #1E51DC; 
$categoryColorSick: #364B6D; 
$cancelIconColor: #ECC147;
$doneIconColor: #CCCCCC;
$offerIconColor: #67CCAD;
