@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a img {
  border: none;
  vertical-align: bottom;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

input, textarea, select, button {
  font-size: 1.5rem;
  font-family: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

svg {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, strong {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: inherit;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

*:focus {
  outline: none;
}

html {
  line-height: 1;
  font-size: 62.5%;
}

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  line-height: 1.5;
  word-break: normal;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}

.l-header {
  font-size: 18px;
  font-size: 1.8rem;
  padding: 10px;
  position: relative;
}
.l-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 90px;
}
.l-header__logo {
  width: 180px;
}
@media (max-width: 560px) {
  .l-header__logo {
    width: 80px;
  }
}
.l-header__logo img {
  width: 100%;
}
.l-header__btn {
  position: absolute;
  z-index: 99;
  right: 0;
  width: 80px;
  height: 80px;
}
.l-header__btn .box {
  width: 40px;
  margin: 0 auto;
}
.l-header__btn .box span {
  width: 100%;
  height: 6px;
  background-color: #333333;
  position: relative;
  transition: ease 0.4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  display: block;
}
.l-header__btn .box span:nth-child(1) {
  top: 0;
}
.l-header__btn .box span:nth-child(2) {
  margin: 8px 0;
}
.l-header__btn .box span:nth-child(3) {
  top: 0;
}
.l-header__btn .button-text {
  font-size: 11px;
  font-size: 1.1rem;
  margin-top: 8px;
}
.l-header__right {
  display: flex;
  align-items: center;
}
.l-header__pcNav {
  display: flex;
}
.l-header__pcNav__list {
  display: flex;
  align-items: flex-end;
}
.l-header__pcNav__list li {
  margin-right: 2em;
}
.l-header__pcNav__list a {
  color: #333333;
  transition: 0.4s;
}
.l-header__pcNav__list a:hover, .l-header__pcNav__list a:active, .l-header__pcNav__list a:focus {
  color: #666666;
}
.l-header__tell {
  font-weight: bold;
  font-size: 30px;
  font-size: 3rem;
}
.l-header__time {
  font-size: 0.5em;
  font-weight: normal;
}
.l-header .contact-btn {
  margin: 0 30px;
}

.login-btn {
  color: #6B8597;
  display: block;
  text-align: center;
  color: #6B8597;
  transition: 0.4s;
  cursor: pointer;
  min-width: 60px;
}
.login-btn:hover, .login-btn:active, .login-btn:focus {
  color: #a7b6c1;
}
.login-btn__text {
  font-size: 13px;
  font-size: 1.3rem;
}

.l-global-container {
  overflow: hidden;
}

.l-section__inner {
  max-width: 1500px;
  margin: 0 auto;
}
@media (max-width: 560px) {
  .l-section__inner {
    width: 96%;
  }
}

.more-btn {
  border-radius: 50px;
  background-color: #6B8597;
  font-size: 20px;
  font-size: 2rem;
  padding: 15px 30px;
}
.more-btn a {
  display: block;
  text-align: center;
  color: #fff;
}

.u-italic {
  font-style: italic;
}

.u-small-caps {
  font-variant: small-caps;
}

.u-bold {
  font-weight: bold;
}

.u-xx-small {
  font-size: 60%;
}

.u-x-small {
  font-size: 75%;
}

.u-small {
  font-size: 88.88%;
}

.u-large {
  font-size: 120%;
}

.u-x-large {
  font-size: 150%;
}

.u-xx-large {
  font-size: 200%;
}

.u-lh-100 {
  line-height: 1;
}

.u-lh-125 {
  line-height: 1.25;
}

.u-lh-150 {
  line-height: 1.5;
}

.u-lh-175 {
  line-height: 1.75;
}

.u-overline {
  text-decoration: overline;
}

.u-underline {
  text-decoration: underline;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

/*  layout class */
.u-indent {
  text-indent: 1em;
}

.u-indent-back {
  padding-left: 1em;
  text-indent: -1em;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-wbr {
  display: inline-block;
  white-space: nowrap;
}

.u-no-letter-spacing {
  letter-spacing: 0;
}

.u-pointer {
  cursor: pointer;
}

@media (max-width: 560px) {
  .u-sp-only {
    display: none;
  }
}

.u-sp-more {
  display: none;
}
@media (max-width: 560px) {
  .u-sp-more {
    display: block;
  }
}

.u-tb-only {
  display: block;
}
@media (max-width: 750px) {
  .u-tb-only {
    display: none;
  }
}

.u-b-more {
  display: none;
}
@media (max-width: 750px) {
  .u-b-more {
    display: block;
  }
}

.u-pc-only {
  display: none;
}
@media (max-width: 960px) {
  .u-pc-only {
    display: block;
  }
}

.u-pc-less {
  display: block;
}
@media (max-width: 960px) {
  .u-pc-less {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
