@use '../global/' as *;

.more-btn {
  @include radius(50);
  background-color: $deepGray;
  @include fz(20);
  padding: 15px 30px;

  a {
    display: block;
    text-align: center;
    color: #fff;
  }
}