@use "sass:math";


// font-size指定の参考サイト
// https://liginc.co.jp/web/html-css/css/64459#1remfont-size
@mixin fz($size: 16) {
	font-size: $size + px;
	font-size: ($size / 10)  + rem;
}


// リンクカラーのmixin参考
// https://www.webcreatorbox.com/tech/sass-mixin#mixin2
@mixin link-color($color) {
  color: $color;
  transition: 0.4s;
  &:hover,
  &:active,
  &:focus {
      color: lighten($color, 20%);
  }
}
